
@media all and (max-width: 1360px) {

	/* Titres des Hébergements, des plus Populaires et des Activités*/
	div#container-hebergements h3, div#containerPop-graph h3, section#activites h3 {
		font-size: 22px;
	}
	
	/* Texte des cards Hébergements */
	div.texteSousImage p:nth-child(1) {
	margin: 4% 0 2% 0;
	font-size: 16px;
	}
	div.texteSousImage p:nth-child(2) {
		font-size: 14px;
		margin: 3% 0;
	}

	/* Texte des cards Populaires */
	div.texteDroiteImage .paragraphe p:nth-child(1) {
		font-size: 16px;
	}
	div.texteDroiteImage .paragraphe p:nth-child(2) {
		font-size: 14px;
	}

	/* Tailles des étoiles bleues */
	.fa-star {
		width: 4px;
		display: inline-block;
		color: #0065FC;
		margin-right: 6%;
	}
}




@media all and (max-width: 1200px) {

	/* Texte des cards Hébergements */
	div.texteSousImage p:nth-child(1) {
		margin: 5% 0 2% 0;
		font-size: 14px;
	}
	div.texteSousImage p:nth-child(2) {
		font-size: 12px;
		margin: 4% 0;
	}


	/* Texte des cards Populaires */
	div.texteDroiteImage .paragraphe p:nth-child(1) {
		font-size: 14px;
		margin-bottom: 4%;
	}

	div.texteDroiteImage .paragraphe p:nth-child(2) {
		font-size: 12px;
	}

	/* Tailles des étoiles bleues */
	.fa-star {
		width: 2px;
		margin-right: 6%;
	}

	/* Titres des Activités */
	div.TitreActivite {
		font-size: 14px;
	}

	#containerCards2-3 .cardsActivites:nth-child(1) div.TitreActivite {
		margin: 10% 0 0 6%;
	}

	#containerCards5-6 .cardsActivites:nth-child(2) div.TitreActivite {
		margin: 10% 0 0 6%;
	}
}



@media all and (max-width: 1100px) {
	
	/* Les filtres */
	#sousDivFiltres {
		font-size: 14px;
	}
		/* Les icônes filtre */
	div.iconWrapper {
		height: 2.5rem;
		width: 2.5rem;
	}
	
	/* Information */
	div#info {
		font-size: 12px;
	}
	div#infoWrapper {
		margin: 0 0.5rem 0 0;
	}

	/* Titres des Hébergements, des plus Populaires et des Activités*/
	div#container-hebergements h3, div#containerPop-graph h3, section#activites h3 {
		font-size: 20px;
	}

	/* Les cards Hébergements */
	div.cardsHeb {
		margin: 2% 4% 2% 0;
		height:  200px;
	}
	
	/* Afficher plus */
	#container-hebergements p:last-child {
		font-size: 16px;
	}
	
	/* Les cards Populaires */
	div.cardsPop {
		height: 20%;
	}

	/* Les cards Activités */
	div#containerCards2-3, div#containerCards5-6 {
		width: 23%;
	}
	div.cardsActivites {
		width: 23%;
		height: 400px;
	}

	/* Le Footer */
	footer nav ul {
		font-size: 14px;
	}
	footer nav ul li:nth-child(1) {
		font-size: 16px;
	}
}


@media all and (max-width: 1030px) {

	/* Le header */
	header {
		margin-bottom: 1.5rem;
	}

	/* Titres des Hébergements, des plus Populaires et des Activités*/
	div#container-hebergements h3, div#containerPop-graph h3, section#activites h3 {
		font-size: 16px;
	}

	/* Les cards Hébergements */
	div.cardsHeb {
		margin: 2% 4% 2% 0;
		height:  150px;
	}

	/* Texte des cards Hébergements */
	div.texteSousImage p:nth-child(1) {
		margin: 3% 0 2% 0;
		font-size: 12px;
	}
	div.texteSousImage p:nth-child(2) {
		font-size: 11px;
		margin: 2% 0;
	}


	/* Texte des cards Populaires */
	div.texteDroiteImage .paragraphe p:nth-child(1) {
		font-size: 12px;
		margin-bottom: 2%;
	}
	div.texteDroiteImage .paragraphe p:nth-child(2) {
		font-size: 11px;
	}

	/* Tailles des étoiles bleues */
	.fa-star {
		width: 1px;
		margin-right: 10%;
	}
}


@media all and (max-width: 930px) {

	/* Les filtres */
	div.filtre {
		margin-top: 1rem;
		font-family: 'raleway bold';
	}

	/* Afficher plus */
	#container-herbergements p:last-child {
		font-size: 14px;
	}

	/* Les cards Populaires */
	div#container-les-plus-populaires {
		width: 28%;
	}
	div#containerCardsPopulaires {
		height: 85%;
	}
	div.cardsPop {
		height: 28%;
	}

	/* Les Activités */
	div.cardsActivites {
		overflow: hidden;
		width: 23%;
		height: 400px;
	}
	div#containerCards2-3, div#containerCards5-6 {
		width: 20%;
		justify-content: space-around;
	}
	div#containerCards2-3 .cardsActivites:nth-child(1) {
		height: 30%;
	}
	div#containerCards2-3 .cardsActivites:nth-child(2) {
		height: 28%;
	}
	div#containerCards5-6 .cardsActivites:nth-child(1) {
		height: 30%;
	}
	div#containerCards5-6 .cardsActivites:nth-child(2) {
		height: 30%;
	}
	div.TitreActivite {
		margin: 7% 0 0 6%;
		font-size: 12px;
	}

	/* Le Footer */
	footer nav ul {
		font-size: 12px;
	}
	footer nav ul li:nth-child(1) {
		font-size: 14px;
	}
}


@media all and (max-width: 907px) {
	/* Les Hébergements */
	div#container-hebergements h3 {
		margin: 0 0 5% 0;
	}
	div.cardsHeb {
		padding: 1%;
		height: 190px;
		width: 36%;
		margin: 2% 10% 5% 0;
	}
	div.picHeb {
		height: 65%;
	}
	div.texteSousImage {
		padding-top: 10%;
	}

	/* Les populaires */
	div.cardsPop {
		height: 20%;
	}
	div.picPop {
		width: 35%;
	}
	div.texteDroiteImage {
		width: 60%;
	}
}


/* Version mobile des sections hébergements, populaires, et activités */

@media all and (max-width: 820px) {
	/* La section Hébergements et les Populaires */
	section#hebergements {
		margin: 0 0 4rem 0;
		flex-direction: column;
	}
	div#container-hebergements {
		order: 2;
		width: 100%;
		padding: 2rem 0 0 0;
		margin: 0;
		border-radius: unset;
		background-color: white;
		/* border: 1px dashed red; */
	}
	div#container-les-plus-populaires {
		order: 1;
		width: 100%;
		padding: 2rem 0 0 0;
		margin: 0;
		border-radius: unset;
		background-color: #F2F2F2;
		/* border: 1px dashed red; */
	}

		/* Les titres */
	div#container-hebergements h3 {
		font-size: 22px;
		font-family: 'raleway bold';
		margin: 0 0 2rem 5%;
	}
	div#containerPop-graph h3 {
		font-size: 22px;
		font-family: 'raleway bold';
		margin: 0 0 1% 0;
	}


		/* Contenu des plus Populaires */
	div#containerPop-graph {
		width: 95%;
		margin: auto;
		margin-bottom: 2rem;
	}
	div#containerPop-graph .fa-chart-line {
		font-size: 24px;
	}
	div#containerCardsPopulaires {
		width: 90%;
		margin: auto;
		height: 80%;
		display: flex;
		flex-direction: column;
		justify-content: space-between;
	}

		/* Les cards */
	div.cardsPop {
		display: flex;
		align-items: center;
		height: 120px;
		margin: 0.5rem 0;
	}
	div.cardsPop:first-child {
		margin-top: 0;
	}
	div.cardsPop:last-child {
		margin-bottom: 2rem;
	}

		/* Les images et le texte à droite */
	div.picPop {
		width: 30%;
		height: 100%;
		margin-right: 6%;
	}
	div.texteDroiteImage {
		height: 80%;
	}
	div.texteDroiteImage .paragraphe p:nth-child(1) {
		margin-bottom: 2%;
		font-size: 16px;
	}
	div.texteDroiteImage .paragraphe p:nth-child(2) {
		font-size: 14px;
		font-weight: lighter;
	}

		/* Contenu des hébergements */
	div#containerCardsHebergements {
		width: 90%;
		margin: auto;
		margin-bottom: 2rem;
		flex-direction: column;
		justify-content: space-between;
		/* border: 1px solid blue; */
	}

		/* Les cards */
	div.cardsHeb {
		display: flex;
		align-items: center;
		width: 95%;
		margin: 0.5rem 0;
		box-shadow: 2px 2px 5px #f2f2f2;
		/* border: 1px dashed green; */
	}
	div.cardsHeb:first-child {
		margin-top: 0;
	}
	div.cardsHeb:last-child {
		margin-bottom: 0;
	}
	div.picHeb {
		position: relative;
		height: 65%;
		width: 100%;
		border-radius: 15px 15px 0 0;
	}
	div.texteSousImage {
		padding: 1% 0 0 5%;
		/* border: 1px dashed black; */
	}
	div.texteSousImage p:nth-child(1) {
		margin: 1% 0;
		font-size: 16px;
	}
	div.texteSousImage p:nth-child(2) {
		font-size: 14px;
		margin: 1% 0;
	}

		/* Afficher plus */
	#container-hebergements p:last-child {
		font-size: 18px;
		margin-left: 6%;
		font-family: 'raleway bold';
	}

		/* Les Étoiles */
	.containerStars {
		margin-top: 2%;
	}
	.fa-star {
		width: 4px;
		margin-right: 3%;
	}



	/* Section Activités */
	section#activites {
		margin: 0 0 4rem 0;
		width: 100%;
		/* border: 1px solid green; */
	}
	section#activites h3 {
		font-size: 22px;
		font-family: 'raleway bold';
		margin: 0 0 2rem 5%;
	}
		div#containerCardsActivites {
		width: 90%;
		margin: auto;
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		/* border: 1px dashed green; */
	}
	div#containerCards2-3, div#containerCards5-6 {
		width: 100%;

			/* Les 2 cards internes ont une height de 150px + 15px de margin bottom = 300+30 */
		height: 390px;
		margin: 0 0 1.5rem 0;
		/* border: 1px solid red; */
	}
	div#containerCards5-6 {
		margin-bottom: 0;
	}

		/* Gestion des cards */
	div.cardsActivites {
		width: 100%;
		height: 180px;
		margin: 0 0 1.5rem 0;
		box-shadow: 2px 2px 10px #f2f2f2;
		/* border: 1px dashed red; */
	}

	/* Taille des cards 2,3,5,6 */
		/* Pomegues */
	div#containerCards2-3 .cardsActivites:nth-child(1) {
		width: 100%;
		height: 50%;
	}
		/* Frioul */
	div#containerCards2-3 .cardsActivites:nth-child(2) {
		width: 100%;
		margin-bottom: 0;
		height: 50%;
	}
		/* ND La garde */
	div#containerCards5-6 .cardsActivites:nth-child(1) {
		width: 100%;
		height: 50%;
	}
		/* Longchamp */
	div#containerCards5-6 .cardsActivites:nth-child(2) {
		width: 100%;
		margin-bottom: 0;
		height: 50%;
	}

		/* Le titre des activités */
	div.TitreActivite {
		height: 20%;
		margin: 4% 0 0 6%;
		font-size: 16px;
		font-family: 'raleway bold';
	}
	#containerCards2-3 .cardsActivites:nth-child(1) div.TitreActivite,  #containerCards2-3 .cardsActivites:nth-child(2) div.TitreActivite {
		margin: 4% 0 0 6%;
	}
	#containerCards5-6 .cardsActivites:nth-child(1) div.TitreActivite, #containerCards5-6 .cardsActivites:nth-child(2) div.TitreActivite {
		margin: 4% 0 0 6%;
	}
}



/* Version mobile pour section header et section recherche 
	Ajustement des images Hébergements et Activités
	version mobile du footer   */

@media all and (max-width: 650px) {
	/* Le logo et le nav étaient en display flex */
	header {
		margin: 4% 0 3rem 0;
		display: block;
	}

	/* Le logo Reservia */
	header img {
		margin: 0 4%;
	}
	header nav {
		width: 100%;
		text-align: center;
		margin-top: 1rem;
	}
	header nav ul li {
		padding: 5% 0 3% 0;
		margin: 0;
		font-size: 20px;
	}
	header nav ul li:nth-child(1) {
		border-top: none;
		border-bottom: 3px solid #0065FC;
		width: 50%;
	}
	header nav ul li:nth-child(2) {
		width: 50%;
		border-bottom: 3px solid #F2F2F2;
	}
	/* Le s'inscrire sort du flux et est positionné en haut à droite */
	header nav ul li:nth-child(3) {
		position: absolute;
		top: 2rem;
		right: 3rem;
		padding: 0;
	}


	/* Section recherche et Filtres */
	#recherche-et-filtres {
		padding: 0;
		margin: 0 6% 2rem 6%;
	}
	#recherche-et-filtres h1 {
		font-family: 'raleway bold';
		margin-bottom: 1rem;
	}
	#recherche-et-filtres h1+p {
		font-size: 18px;
	}

		/* Barre de recherche */
	#mapMarkerWrapper {
		padding: 4% 2%;
	}
	#mapMarkerWrapper i.fa-map-marker-alt {
		width: 30px;
	}
	#barreRecherche input[type=text] {
		border-right: none;
		width: 100%;
	}
	#barreRecherche input[type=button] {
		display: none;
	}
	#barreRecherche #loupe {
		display: flex;
		justify-content: center;
		align-items: center;
		background-color: #0065FC;
		color: white;
		border: none;
		border-radius: 30%;
		font-size: 18px;
		padding: 3% 4%;
	}

		/* Les filtres */
	#sousDivFiltres {
		display: flex;
		flex-wrap: wrap;
		margin-bottom: 1.5rem;
	}
		/* Info */
	div#info {
		font-size: 16px;
	}
	div#infoWrapper {
		margin: 0 1.5rem 0 0;
	}


		/* Les images Hébergements */
	#picLesMouettes {
		background-position: 40% 45%;
	}
	#picLaMer {
		background-position: 50% 50%;
	}
	#picLePanier {
		background-position: 50% 40%;
	}
	#picChezAmina {
		background-position: 50% 51%;
	}

		/* Les images activités */
	#picPort {
		background-position: 50% 30%;
	}
	#picFort {
		background-position: 50% 42%;
	}
	#picFrioul {
		background-position: 60% 18%;
	}
	#picCalanques {
		background-position: 45% 20%;
	}


	/* Section Footer */
	footer nav {
		width: 80%;
		margin: 0 0 0 6%;
		padding: 2rem 0;
		flex-direction: column;
		/* border: 1px dashed red; */
	}

	footer nav ul {
		/* width: 100%; */
		margin: 0 0 10% 0;
		font-size: 16px;
	}
	footer nav ul:last-child {
		margin: 0;
	}

	footer nav ul li {
		padding-bottom: 5%;
	}
	footer nav ul li:nth-child(1) {
		font-size: 18px;
	}
}